<div class="container">
<h2>{{model.name}}</h2>

<button class="btn btn-default"{{action 'delete' model}}>Delete</button>
{{update-category category=model update='update'}}

{{add-listing category=model saveListing='saveListing'}}

<div id="name">
  <ul>
    {{#each model.listings as |listing|}}
      <li>
        {{display-listing listing=listing}}
      </li>
      {{/each}}
  </ul>
</div>

</div>
